# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
.env/
.venv/

# environment variables
.env

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Python build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# logs
# =========================
*.log

# =========================
# cache
# =========================
.cache/

# =========================
# test files
# =========================
test.py